@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-dark: #545454;
  --primary-light: #efe7da;
  --secondary: #3c91e6;
}

body {
  color: var(--primary-dark);
  background: var(--primary-light);
  font-family: Arial, Helvetica, sans-serif;
}

.active {
  color: red;
}

.focus-outline {
  &:focus {
    padding: 0 4px;
    outline: 2px dashed var(--secondary);
    outline-offset: 2px;
    border-radius: 8px; 
  }
}
